<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5_gripper">

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- include macros for UR5 and the Robotiq eef model -->
  <xacro:include filename="$(find ur_description)/urdf/calibration/common.gazebo.xacro" />
  <xacro:include filename="$(find ur_description)/urdf/calibration/ur5.urdf.xacro" />
  <xacro:include filename="$(find ur5_gripper_description)/urdf/robotiq_arg2f_140_model_macro.xacro" />
  <!--xacro:include filename="$(find robotiq_2f_140_gripper_visualization)/urdf/robotiq_arg2f_140_model_macro.xacro" /-->
  <xacro:include filename="$(find ur5_gripper_description)/urdf/robotiq_fts300.urdf.xacro" />
  <!--xacro:include filename="$(find ur5_gripper_description)/urdf/sensors/common.xacro" /-->
  <!--xacro:include filename="$(find ur5_gripper_description)/urdf/sensors/kinect2.urdf.xacro" /-->
  
  <xacro:arg name="kinematics_config" default="$(find ur_description)/config/ur5_default.yaml"/>
  <xacro:macro name="ur5_with_gripper_joint_limited" params="prefix">
    <!-- arm -->
    <!--xacro:ur5_robot prefix="${prefix}" joint_limited="true" 
      shoulder_pan_lower_limit="${-3*pi/4}" shoulder_pan_upper_limit="${pi/2}"
      shoulder_lift_lower_limit="${-pi*7/8}" shoulder_lift_upper_limit="${-pi/8}"
      elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
      wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
      wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
      wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
    /-->

    <xacro:ur5_robot prefix="${prefix}" joint_limited="true" 
      shoulder_pan_lower_limit="${-2*pi}" shoulder_pan_upper_limit="${2*pi}"
      shoulder_lift_lower_limit="${-2*pi}" shoulder_lift_upper_limit="${2*pi}"
      elbow_joint_lower_limit="${-2*pi}" elbow_joint_upper_limit="${2*pi}"
      wrist_1_lower_limit="${-2*pi}" wrist_1_upper_limit="${2*pi}"
      wrist_2_lower_limit="${-2*pi}" wrist_2_upper_limit="${2*pi}"
      wrist_3_lower_limit="${-2*pi}" wrist_3_upper_limit="${2*pi}"
      transmission_hw_interface="$(arg transmission_hw_interface)"
      kinematics_file="${load_yaml('$(arg kinematics_config)')}"
    />

    <link name="world" />
    <joint name="fixed_link_robot_base" type="fixed">
      <parent link= "world" />
      <child link = "${prefix}base_link" />
      <!--origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" /-->
      <origin xyz="0.0 0.0 0.4" rpy="0.0 0.0 0.0" />
    </joint>

    <!--force torque sensor-->
    <xacro:robotiq_fts150 prefix="" parent="ee_link" >
      <origin xyz="0.0 0 0 " rpy="-${pi/2} 0 -${pi/2}"/>
    </xacro:robotiq_fts150>

   <!-- gripper -->
    <xacro:robotiq_arg2f_140 prefix="${prefix}" />
    <joint name="ur5_ee_link_gripper_base" type="fixed">
      <parent link= "${prefix}fts_toolside" />
      <child link = "${prefix}robotiq_arg2f_base_link" />
      <!--origin xyz=" 0.0 0.0 0.0" rpy="0.0 0.0 ${pi/2}" /-->
      <origin xyz=" 0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>

    <!--link name="${prefix}tool" />
    <joint name="tool_tip" type="fixed">
      <parent link= "${prefix}ee_link" />
      <child link = "${prefix}tool" />
      <origin xyz=" 0.2 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint-->

    <link name="${prefix}tool" />
    <joint name="tool_tip" type="fixed">
      <parent link= "${prefix}ee_link" />
      <child link = "${prefix}tool" />
      <origin xyz="0.234333227426 0.0 0.0" rpy="1.57064 0.0 1.57067" />
    </joint>

  </xacro:macro>

    <!--xacro:kinect2_v0 name="" parent="world" -->
      <!--origin xyz="0.4 0.0 1.2" rpy="0.0 ${pi/2} 0.0" /-->
      <!--origin xyz="2 0.0 1.3" rpy="0.0 ${pi/3} ${pi}" /-->
      <!--origin xyz="-1.3 1.3 1.3" rpy="0.0 ${2*pi/9} ${-1*pi/4}" /-->
      <!--origin xyz="1.3 -1.3 1.3" rpy="0.0 ${2*pi/9} ${3*pi/4}" /-->
    <!--/xacro:kinect2_v0-->

  <xacro:ur5_with_gripper_joint_limited prefix=""/>

 <!-- Plugin -->
  <!--gazebo>
    <plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
      <arm>
          <arm_name>ur5_robot</arm_name>
          <palm_link>wrist_3_link</palm_link>
          <gripper_link>left_inner_finger</gripper_link>
          <gripper_link>right_inner_finger</gripper_link>
      </arm>
      <forces_angle_tolerance>120</forces_angle_tolerance>
      <update_rate>4</update_rate>
      <grip_count_threshold>4</grip_count_threshold>
      <max_grip_count>8</max_grip_count>
      <release_tolerance>0.02</release_tolerance>
      <disable_collisions_on_attach>true</disable_collisions_on_attach>
      <contact_topic>__default_topic__</contact_topic>
    </plugin>
  </gazebo-->

</robot>
