<?xml version="1.0"?>
<!-- xacro for rg2 mounted on the manipulator -->

<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="rg2" params="prefix">

    <!-- rg2 joint -->
    <joint name="rg2_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <parent link="${prefix}ee_link"/>
      <child link="${prefix}rg2_body_link"/>
    </joint>

    <link name="${prefix}rg2_body_link">
      <visual>
        <origin rpy="0 0 0" xyz="-0.037 0.02 0.157"/>
        <geometry>
          <mesh filename="package://icl_ur5_setup_description/meshes/rg6_gripper/test2.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="White">
          <color rgba="1.0 1.0 1.0 1.0"/>
        </material>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="-0.037 0.02 0.157"/>
        <geometry>
          <mesh filename="package://icl_ur5_setup_description/meshes/rg6_gripper/test2.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.1"/>
        <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
      </inertial>
    </link>

    <joint name="rg2_eef_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0.25 0.0 0.0"/>
      <parent link="rg2_body_link"/>
      <child link="rg2_eef_link"/>
    </joint>
    <link name="rg2_eef_link"/>

  </xacro:macro>
</robot>
